<h3 class="text-primary">Практическая часть</h3>

<p>
    Разработайте серверное приложение, формирующее WebAPI на ASP.NET Core или PHP.
</p>

<p>
    Разработайте клиентское приложение с использованием Angular, React или jQuery для отправки
    запросов на серверное приложение. Стилизацию разметки выполняйте при помощи Bootstrap. Реализуйте
    вывод задания, вывод всех записей таблиц базы данных. Все таблицы должны быть проинициированы не
    менее чем 10 записями.
</p>

<p>
    Запросы по заданию. Параметры запросов задавать формами.
</p>

<table class="table table-bordered table-hover w-75 mx-auto">
    <tbody>
    <tr>
        <td>
            <i>База данных <b>«Туристическое агентство»</b></i>
        </td>
    </tr>
    <tr>
        <td>
            <i><b>Описание предметной области</b></i>
            <p>
                Фирма предоставляет клиентам услуги по организации зарубежных поездок. При этом цели поездок
                могут быть различными (отдых, туризм, лечение и т.д.). При оформлении услуги устанавливается
                фиксированная стоимость 1 дня пребывания в той или иной стране.
            </p>

            <p>
                Стоимость поездки может быть вычислена как <b>Стоимость 1 дня пребывания * Количество дней пребывания +
                Стоимость транспортных услуг + Стоимость оформления визы</b>. Кроме того, клиент платит налог на
                добавленную стоимость (НДС) в размере 3% от стоимости поездки.
            </p>
        </td>
    </tr>

    <tr>
        <td>
            <i><b>База данных должна включать как минимум таблицы КЛИЕНТЫ, МАРШРУТЫ, ПОЕЗДКИ, содержащие
                следующую информацию:</b></i>
        </td>
    </tr>

    <tr>
        <td>
            Фамилия клиента
        </td>
    </tr>

    <tr>
        <td>
            Имя клиента
        </td>
    </tr>

    <tr>
        <td>
            Отчество клиента
        </td>
    </tr>

    <tr>
        <td>
            Серия – номер паспорта клиента
        </td>
    </tr>

    <tr>
        <td>
            Страна назначения
        </td>
    </tr>

    <tr>
        <td>
            Цель поездки
        </td>
    </tr>

    <tr>
        <td>
            Стоимость 1 дня пребывания в стране назначения
        </td>
    </tr>

    <tr>
        <td>
            Стоимость 1 дня пребывания в зависимости от цели поездки, не зависит от страны назначения
        </td>
    </tr>

    <tr>
        <td>
            Стоимость транспортных услуг (определяется выбором страны)
        </td>
    </tr>

    <tr>
        <td>
            Стоимость оформления визы (определяется выбором страны)
        </td>
    </tr>

    <tr>
        <td>
            Дата начала пребывания в стране назначения
        </td>
    </tr>

    <tr>
        <td>
            Количество дней пребывания в стране назначения
        </td>
    </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover w-75 mx-auto">
    <thead>
    <tr>
        <th>
            <b>Номер запроса</b>
        </th>
        <th>
            <b>Тип запроса</b>
        </th>
        <th>
            <b>Какую задачу решает запрос</b>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Запрос на выборку</td>
        <td>Выбирает информацию о маршрутах с заданной целью поездки</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Запрос на выборку</td>
        <td>
            Выбирает информацию о маршрутах с заданной целью поездки и стоимостью транспортных
            услуг менее заданного значения
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Запрос на выборку</td>
        <td>
            Выбирает информацию о клиентах, совершивших поездки с заданным количеством дней
            пребывания в стране
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Итоговый запрос – агрегатные функции</td>
        <td>Определяет минимальную, среднюю и максимальную стоимость 1 дня пребывания </td>
    </tr>
    <tr>
        <td>5</td>
        <td>Итоговый запрос – агрегатные функции</td>
        <td>Для проданных поездок вычисляет среднюю стоимость транспортных услуг</td>
    </tr>
    </tbody>
</table>

Также требуется реализовать:
<ul>
    <li>
        добавление, редактирование, удаление данных о поездке (используйте существующих клиентов и маршруты).
    </li>
</ul>
