<table id="table" class="table table-bordered table-hover w-50 mx-auto">
    <thead>
    <tr class="bg-light text-black align-middle">
        <th>Минимальная цена 1 дня пребывания по маршрутам, руб.</th>
        <th>Средняя цена 1 дня пребывания по маршрутам, руб.</th>
        <th>Максимальная цена 1 дня пребывания по маршрутам, руб.</th>
    </tr>
    </thead>
    <tbody id="table-body">
        <tr class="align-middle">
            @for(item of rez; track $index){
                <td class="text-end px-3">{{item | currency:"RUB":""}}</td>
            }
        </tr>
    </tbody>
</table>

